---
import Layout from '../../layout/Layout.astro';

import { getAllPosts } from "../api/microcms/getAllPosts";
import { getPostDetail, type PostDetail } from "../api/microcms/getPostDetail";

import { formatDate } from "../../utils/formatDate";

export async function getStaticPaths() {
  const res = await getAllPosts({ fields: ["id"] });
  return res.contents.map((content) => {
    console.log(content.id);
    return {
      params: {
        postId: content.id,
      },
    };
  });
}

const { postId } = Astro.params;
let postData: PostDetail | null = null;

if (postId) {
  postData = await getPostDetail(postId);
}
---

<Layout>
  <h1>Blog Detail</h1>
  <main class="main">
    <div class="content">
      <h2>{postData ? postData.title : ""}</h2>
      <p>
        投稿日:{
          postData ? new formatDate(postData.revisedAt).toJpDateWithWeek() : ""
        }
      </p>
      <div set:html={postData ? postData.content : ""} />
    </div>
  </main>
</Layout>
