---
import Layout from '../layout/Layout.astro';
export const prerender = true;
---

<Layout>
  <h1>Top Page</h1>
  <main class="main">
    <div class="content">
      <h2>Home</h2>
      <p>This page is Home</p>
    </div>
  </main>
</Layout>