---
import Layout from './layouts/layout.astro';
import Card from './components/Card.astro';
import { getAllPosts } from '../api/microcms/getAllPosts';

const res = await getAllPosts({ fields: ["id", "title", "createdAt", "url"] });
---

<Layout>
  <h1>Top Page</h1>
  <main class="main">
    <div class="content">
      <h2>Listt</h2>
      {
        /*
        * @type {{ id: string; title: string; createdAt: string; url: string; }[]}
        */
        res.contents.map((content: any) => {
          return (
            <Card
              href={content.id}
              title={content.title}
              url={content.url.url}
              createdAt={content.createdAt}
             />
          );
        })
      }
    </div>
  </main>
</Layout>